<?xml version="1.0" encoding="UTF-8"?>
<IntanRHX SampleRateHertz="30000" Type="ControllerStimRecord" StimStepSizeMicroAmps="0.5" Version="3.3.1">
    <GeneralConfig 
		AbsoluteThresholdMicroVolts="-70" 
		AbsoluteThresholdsEnabled="True" 
		AnalogOut1Channel="Off" 
		AnalogOut1LockToSelected="False" 
		AnalogOut1ThresholdEnabled="False" 
		AnalogOut1ThresholdMicroVolts="0" 
		AnalogOut2Channel="Off" 
		AnalogOut2ThresholdEnabled="False" 
		AnalogOut2ThresholdMicroVolts="0" 
		AnalogOut3Channel="Off" 
		AnalogOut3ThresholdEnabled="False" 
		AnalogOut3ThresholdMicroVolts="0" 
		AnalogOut4Channel="Off" 
		AnalogOut4ThresholdEnabled="False" 
		AnalogOut4ThresholdMicroVolts="0" 
		AnalogOut5Channel="Off" 
		AnalogOut5ThresholdEnabled="False" 
		AnalogOut5ThresholdMicroVolts="0" 
		AnalogOut6Channel="Off" 
		AnalogOut6ThresholdEnabled="False" 
		AnalogOut6ThresholdMicroVolts="0" 
		AnalogOut7Channel="Off" 
		AnalogOut7ThresholdEnabled="False" 
		AnalogOut7ThresholdMicroVolts="0" 
		AnalogOut8Channel="Off" 
		AnalogOut8ThresholdEnabled="False" 
		AnalogOut8ThresholdMicroVolts="0" 
		AnalogOutGainIndex="0" 
		AnalogOutHighpassFilterEnabled="False" 
		AnalogOutHighpassFilterFreqHertz="250" 
		AnalogOutNoiseSlicerIndex="0" 
		AnalogOutRefChannel="Hardware" 
		AnalogScaleVolts="1.0" 
		ArrangeBy="Channel" 
		ArtifactSuppressionEnabled="True" 
		ArtifactSuppressionThresholdMicroVolts="2500" 
		ArtifactsShown="True" 
		AudioEnabled="False" 
		AudioFilter="Wide" 
		AudioThresholdMicroVolts="0" 
		AudioVolume="50" 
		BackgroundColor="#000000" 
		ChargeRecovery="False" 
		ChargeRecoveryCurrentLimitMicroAmps="0.01" 
		ChargeRecoveryTargetVoltageVolts="0" 
		ClipWaveforms="False" 
		CreateNewDirectory="False" 
		DCScaleVolts="1.0" 
		DSPEnabled="True" 
		DesiredDSPCutoffFreqHertz="1" 
		DesiredImpedanceFreqHertz="1000" 
		DesiredLower3dBCutoffFreqHertz="1" 
		DesiredLowerBandwidthHertz="0.1" 
		DesiredLowerSettleBandwidthHertz="1000" 
		DesiredUpperBandwidthHertz="7500" 
		DisplayDigitalTrigger="DIGITAL-IN-01" 
		DisplayLabelText="ImpedanceMagnitude" 
		DisplaySettings="" 
		DisplayTriggerMode="False" 
		DisplayTriggerPolarity="Rising" 
		DisplayTriggerPosition="1/4" 
		FileFormat="OneFilePerChannel" 
		Filename.BaseFilename="real-time-emg" 
		Filename.Path="C:/Users/bcilab/Desktop" 
		FilterDisplay1="Wide" 
		FilterDisplay2="None" 
		FilterDisplay3="None" 
		FilterDisplay4="None" 
		HeadstageGlobalSettle="False" 
		HighScaleMicroVolts="500" 
		HighpassFilterCutoffFreqHertz="250" 
		HighpassFilterOrder="2" 
		HighpassFilterType="Bessel" 
		ISIBinSizeMilliseconds="5" 
		ISIChannel="A-000" 
		ISISaveCsvFile="True" 
		ISISaveMatFile="True" 
		ISISavePngFile="True" 
		ISITimeSpanMilliseconds="200" 
		ISIYAxisLog="False" 
		ImpedanceFilename.BaseFilename="" 
		ImpedanceFilename.Path="" 
		LabelWidth="Wide" 
		LowScaleMicroVolts="500" 
		LowpassFilterCutoffFreqHertz="250" 
		LowpassFilterOrder="2" 
		LowpassFilterType="Bessel" 
		LowpassWaveformDownsampleRate="1" 
		NegativeRelativeThreshold="True" 
		NewSaveFilePeriodMinutes="1" 
		NotchFilterFreqHertz="50" 
		Note1="" 
		Note2="" 
		Note3="" 
		PSTHBinSizeMilliseconds="5" 
		PSTHChannel="A-000" 
		PSTHDigitalTrigger="DIGITAL-IN-01" 
		PSTHMaxNumTrials="50" 
		PSTHPostTriggerSpanMilliseconds="500" 
		PSTHPreTriggerSpanMilliseconds="100" 
		PSTHSaveCsvFile="True" 
		PSTHSaveMatFile="True" 
		PSTHSavePngFile="True" 
		PSTHTriggerPolarity="Rising" 
		PlottingMode="Original" 
		PostTriggerBufferSeconds="1" 
		PreTriggerBufferSeconds="1" 
		RmsMultipleThreshold="4" 
		RollMode="False" 
		RunAfterJumpToPosition="False" 
		SaveAuxInWithAmplifierWaveforms="False" 
		SaveDCAmplifierWaveforms="False" 
		SaveHighpassAmplifierWaveforms="False" 
		SaveLowpassAmplifierWaveforms="False" 
		SaveSpikeData="False" 
		SaveSpikeSnapshots="False" 
		SaveWidebandAmplifierWaveforms="True" 
		ShowDisabledChannels="True" 
		SpectrogramChannel="A-000" 
		SpectrogramDigitalDisplay="None" 
		SpectrogramDisplayMode="Spectrogram" 
		SpectrogramFFTSize="2048" 
		SpectrogramFreqMarkerHertz="60" 
		SpectrogramFreqMarkerNumHarmonics="0" 
		SpectrogramFreqMaxHertz="200" 
		SpectrogramFreqMinHertz="0" 
		SpectrogramSaveCsvFile="True" 
		SpectrogramSaveMatFile="True" 
		SpectrogramSavePngFile="True" 
		SpectrogramShowFreqMarker="True" 
		SpectrogramTimeScaleSeconds="5" 
		SpikeScopeChannel="A-000" 
		SpikeScopeNumSpikes="20" 
		SpikeScopeScaleMicroVolts="500" 
		SpikeScopeTimeScaleMilliseconds="2" 
		SpikeSnapshotPostDetectMilliseconds="2" 
		SpikeSnapshotPreDetectMilliseconds="-1" 
		TimeScaleMilliseconds="2000" 
		TriggerAnalogThresholdVolts="1.65" 
		TriggerPolarity="High" 
		TriggerSave="True" 
		TriggerSource="DIGITAL-IN-01" 
		UseFastSettle="False" 
		UseMedianReference="False" 
		WideScaleMicroVolts="500" 
		WriteToDiskLatency="Highest" 
		TCPDataOutputChannels=""
	/>
    <SignalGroup 
		Prefix="A" 
		ManualDelay="1" 
		ManualDelayEnabled="False">
        <Channel 
			NativeChannelName="A-000" 
			Color="#bf4040" 
			CustomChannelName="A-000" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="0"
		/>
        <Channel 
			NativeChannelName="A-001" 
			Color="#bf8740" 
			CustomChannelName="A-001" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="1"
		/>
        <Channel 
			NativeChannelName="A-002" 
			Color="#afbf40" 
			CustomChannelName="A-002" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="2"
		/>
        <Channel 
			NativeChannelName="A-003" 
			Color="#68bf40" 
			CustomChannelName="A-003" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="3"
		/>
        <Channel 
			NativeChannelName="A-004" 
			Color="#40bf60" 
			CustomChannelName="A-004" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="4"
		/>
        <Channel 
			NativeChannelName="A-005" 
			Color="#40bfa7" 
			CustomChannelName="A-005" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="5"
		/>
        <Channel 
			NativeChannelName="A-006" 
			Color="#408fbf" 
			CustomChannelName="A-006" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="6"
		/>
        <Channel 
			NativeChannelName="A-007" 
			Color="#4048bf" 
			CustomChannelName="A-007" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="7"
		/>
        <Channel 
			NativeChannelName="A-008" 
			Color="#8040bf" 
			CustomChannelName="A-008" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="8"
		/>
        <Channel 
			NativeChannelName="A-009" 
			Color="#bf40b7" 
			CustomChannelName="A-009" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="9"
		/>
        <Channel 
			NativeChannelName="A-010" 
			Color="#bf4070" 
			CustomChannelName="A-010" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="10"
		/>
        <Channel 
			NativeChannelName="A-011" 
			Color="#bf5840" 
			CustomChannelName="A-011" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="11"
		/>
        <Channel 
			NativeChannelName="A-012" 
			Color="#bf9f40" 
			CustomChannelName="A-012" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="12"
		/>
        <Channel 
			NativeChannelName="A-013" 
			Color="#97bf40" 
			CustomChannelName="A-013" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="13"
		/>
        <Channel 
			NativeChannelName="A-014" 
			Color="#50bf40" 
			CustomChannelName="A-014" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="14"
		/>
        <Channel 
			NativeChannelName="A-015" 
			Color="#40bf78" 
			CustomChannelName="A-015" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="15"
		/>
        <Channel 
			NativeChannelName="A-016" 
			Color="#40bfbf" 
			CustomChannelName="A-016" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="16"
		/>
        <Channel 
			NativeChannelName="A-017" 
			Color="#4078bf" 
			CustomChannelName="A-017" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="17"
		/>
        <Channel 
			NativeChannelName="A-018" 
			Color="#5040bf" 
			CustomChannelName="A-018" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="18"
		/>
        <Channel 
			NativeChannelName="A-019" 
			Color="#9740bf" 
			CustomChannelName="A-019" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="19"
		/>
        <Channel 
			NativeChannelName="A-020" 
			Color="#bf409f" 
			CustomChannelName="A-020" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="20"
		/>
        <Channel 
			NativeChannelName="A-021" 
			Color="#bf4058" 
			CustomChannelName="A-021" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="21"
		/>
        <Channel 
			NativeChannelName="A-022" 
			Color="#bf7040" 
			CustomChannelName="A-022" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="22"
		/>
        <Channel 
			NativeChannelName="A-023" 
			Color="#bfb740" 
			CustomChannelName="A-023" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="23"
		/>
        <Channel 
			NativeChannelName="A-024" 
			Color="#80bf40" 
			CustomChannelName="A-024" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="24"
		/>
        <Channel 
			NativeChannelName="A-025" 
			Color="#40bf48" 
			CustomChannelName="A-025" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="25"
		/>
        <Channel 
			NativeChannelName="A-026" 
			Color="#40bf8f" 
			CustomChannelName="A-026" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="26"
		/>
        <Channel 
			NativeChannelName="A-027" 
			Color="#40a7bf" 
			CustomChannelName="A-027" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="27"
		/>
        <Channel 
			NativeChannelName="A-028" 
			Color="#4060bf" 
			CustomChannelName="A-028" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="28"
		/>
        <Channel 
			NativeChannelName="A-029" 
			Color="#6840bf" 
			CustomChannelName="A-029" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="29"
		/>
        <Channel 
			NativeChannelName="A-030" 
			Color="#af40bf" 
			CustomChannelName="A-030" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="30"
		/>
        <Channel 
			NativeChannelName="A-031" 
			Color="#bf4087" 
			CustomChannelName="A-031" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="31"
		/>
    </SignalGroup>
    <SignalGroup 
		Prefix="ANALOG-IN">
        <Channel 
			NativeChannelName="ANALOG-IN-1" 
			Color="#909020" 
			CustomChannelName="ANALOG-IN-1" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="0"
		/>
        <Channel 
			NativeChannelName="ANALOG-IN-2" 
			Color="#909020" 
			CustomChannelName="ANALOG-IN-2" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="1"
		/>
    </SignalGroup>
    <SignalGroup 
		Prefix="ANALOG-OUT">
        <Channel 
			NativeChannelName="ANALOG-OUT-1" 
			Color="#909020" 
			CustomChannelName="ANALOG-OUT-1" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="0"
		/>
        <Channel 
			NativeChannelName="ANALOG-OUT-2" 
			Color="#909020" 
			CustomChannelName="ANALOG-OUT-2" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="1"
		/>
    </SignalGroup>
    <SignalGroup 
		Prefix="DIGITAL-IN">
        <Channel 
			NativeChannelName="DIGITAL-IN-01" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-01" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="0"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-02" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-02" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="1"
		/>
    </SignalGroup>
    <SignalGroup 
		Prefix="DIGITAL-OUT">
        <Channel 
			NativeChannelName="DIGITAL-OUT-01" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-01" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="0"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-02" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-02" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="1"
		/>
    </SignalGroup>
    <StimParameters>
        <StimChannel 
			NativeChannelName="A-000" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-001" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-002" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-003" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-004" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-005" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-006" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-007" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-008" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-009" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-010" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-011" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-012" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-013" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-014" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-015" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-016" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-017" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-018" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-019" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-020" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-021" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-022" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-023" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-024" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-025" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-026" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-027" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-028" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-029" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-030" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="A-031" 
			EnableAmpSettle="True" 
			EnableChargeRecovery="False" 
			FirstPhaseAmplitudeMicroAmps="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			MaintainAmpSettle="False" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostStimAmpSettleMicroseconds="1000" 
			PostStimChargeRecovOffMicroseconds="0" 
			PostStimChargeRecovOnMicroseconds="0" 
			PostTriggerDelayMicroseconds="0" 
			PreStimAmpSettleMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeMicroAmps="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="ANALOG-OUT-1" 
			BaselineVoltageVolts="0" 
			FirstPhaseAmplitudeVolts="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostTriggerDelayMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeVolts="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="ANALOG-OUT-2" 
			BaselineVoltageVolts="0" 
			FirstPhaseAmplitudeVolts="0" 
			FirstPhaseDurationMicroseconds="100" 
			InterphaseDelayMicroseconds="100" 
			NumberOfStimPulses="2" 
			Polarity="NegativeFirst" 
			PostTriggerDelayMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			SecondPhaseAmplitudeVolts="0" 
			SecondPhaseDurationMicroseconds="100" 
			Shape="Biphasic" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="DIGITAL-OUT-01" 
			FirstPhaseDurationMicroseconds="100" 
			NumberOfStimPulses="2" 
			PostTriggerDelayMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
        <StimChannel 
			NativeChannelName="DIGITAL-OUT-02" 
			FirstPhaseDurationMicroseconds="100" 
			NumberOfStimPulses="2" 
			PostTriggerDelayMicroseconds="0" 
			PulseOrTrain="SinglePulse" 
			PulseTrainPeriodMicroseconds="10000" 
			RefractoryPeriodMicroseconds="1000" 
			Source="DigitalIn01" 
			StimEnabled="False" 
			TriggerEdgeOrLevel="Edge" 
			TriggerHighOrLow="High"
		/>
    </StimParameters>
</IntanRHX>
